<div class= "container text-center">
    <div class= "about-me">
        <h1> About the Artist</h1>
    </div>
    <div class: "summary-intro">
        <br>
        <img src="http://i.imgur.com/KtYj1er.jpg" title="source: imgur.com" class= "img-rounded" /></a>
        <div class:"summary-name">
            <h2><b> Caitlin Rose Cummings</b></h2>
        </div>
        <h4>State University of New York at New Paltz</h4>
        
        <h4> BA in Art History with a minor in Visual Arts, December 2015 </h4>
        
        <h4>Honors Program, Dean’s List, GPA: 3.9</h4>
    </div>
    <div class: "summary" style= "font-size: 17px">
        <p>During high school Caitlin Cummings exhibited her work in a myriad of local venues and was a two-time winner of the Gold Key Award for Excellence in Visual Arts for her Fine Arts Portfolio, granted by the Scholastic Art & Writing Association. In 2012, Caitlin became an Art History major with a minor in Visual Arts at SUNY New Paltz. She studied abroad in France during the summer of 2014 with a concentration in 19th century Plein Air painting & Impressionism. During the summer of 2015 she was selected as the recipient of the International Fine Print Dealers Association Scholarship and became a Curatorial Intern at the Frances Lehman Loeb Art Center at Vassar College. In December 2015, Caitlin presented her Honors Thesis entitled Letters From Germany: An American Woman's Account of the Post-War Occupation and graduated from SUNY New Paltz a semester ahead of her class. Originally from Syracuse, she now lives in Kingston, NY and works throughout the Hudson Valley region. Currently, Caitlin is employed as Collections Care Assistant at Historic Huguenot Street in New Paltz, NY and looks forward to pursuing a career in the field of museum management.</p>
    </div>
</div>
<br>
<div class="container text-center">
    <div class= "contact">
        <p> Caitlin Rose Cummings can be contacted through <a href="mailto:caitlin.cummings494@gmail.com">Email</a>.</p>
    </div>
</div>