<div class= "container text-center">
    <div class= "about-me">
        <h1> About the Artist</h1>
        <br>
        <h4> Caitlin Rose Cummings</h4>
    </div>
</div>
<br>
<div class="container text-center">
    <div class= "contact">
        <p> Caitlin Rose Cummings can be contacted through Email</p>
    </div>
</div>