<div class="container-fluid text-center">
  <div class="title-text">
    <div class="crc">
    <h1 class= "strong">Caitlin Rose Cummings</h1>
    </div>
    <h3>Mixed Media Artist</h3>
  </div>
</div>
 <br>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="5500" data-pause="hover">
  <!-- Indicators -->
  <!--
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  -->

  <!-- Wrapper for slides -->
  
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://i.imgur.com/kseXH8L.jpg" alt="..." class="img-responsive">
      <div class="carousel-caption">
      	<h3>"Glow" 2011 (Acrylic paint, Oil pastels)</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/ckK3wPSl.jpg" alt="..." class="img-responsive">
      <div class="carousel-caption">
      	<h3>"Silence" 2011 (Acrylic paint, Oil pastels)</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/K2aS6FD.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Sinking" 2013 (Charcoal)</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/dWaJ6qql.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Skin" 2013 (Acrylic paint, Oil pastels)</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/swpKMHcl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Paper Bags" 2009 (Graphite)</h3>
      </div>
    </div>
    
    <div class="item">
      <img src="http://i.imgur.com/JYHkAtSl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Untitled" 2011 (Charcoal)</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/tHL3rcFl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Untitled" 2011 (Charcoal)</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/VcNRk8cl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Untitled" 2010 (Graphite)</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/Jz6M5Bxl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"X-Ray" 2011 (Black and White Charcoal)</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/olvmbZdl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Abstraction" 2012 (Charcoal)</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/GGUOWLJl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Little Houses" 2012 (Charcoal)</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/QX1Pj40l.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Untitled" 2014 (Charcoal)</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/E2T9QTfl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Kettle" 2010 (Graphite)</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/HYU9pvYl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Dripping" 2012 (Colored paper pieces, glue)</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/Cm08JWel.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Noelle" 2012 (Acrylic, Charcoal)</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/ihfNAspl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Ganesha 3" 2014 (Linoleum cut, Ink)</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/a6CuFxvl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Series 1 & 2" 2014 (Monotype)</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/qGfc86hl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Fall" 2014 (Ink Monotype)</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/TwgfBySl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Winter" 2014 (Ink Monotype)</h3>
      </div>
    </div>
   
    <div class="item">
      <img src="http://i.imgur.com/7ZKEMkwl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Untitled" 2014 (Ink Monotype)</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/wpG5vCal.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Ganesha 1, 2 & 3" 2014 (Linoleum Cut, Ink)</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/XQVhVQTl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Playing with Print" 2014 (Screen Prints)</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/gMpiIdLl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"New Paltz" 2014 (Monotype)</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/TYakwgBl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Untitled" 2014 (Permenant Marker)</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/3gsKR7yl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Severe" 2014 (Charcoal)</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/YJiAwOml.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Savior" 2014 (Acrylic paint, Oil pastels)</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/HIF0rKQl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Kaleb" 2011 (Watercolor, Colored pencils)</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/4PwEXVQl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Movement" 2014 (Graphite)</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/xNuCdLGl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Grace" 2014 (Charcoal)</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/qZ3P6kbl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>Movement 2 2014 (Ink)</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/3rSpn8cl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Two Loungers" 2014 (Charcoal)</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/K0n5zwkl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Portrait Study" 2014 (Charcoal)</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/ewmcnmXl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Untitled" 2014 (Charcoal)</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/gYlQc5xl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Hush" 2012 (Acrylic paint, Oil pastels)</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/9T5Y93ol.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"The Happy Couple" 2012 (Acrylic paint, Oil pastels)</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/6ltbyrUl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Mandala" 2013 (Acrylic)</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/vtJ9d4Vl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"White Out" 2011 (Oil paint)</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/uGR7XErl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Andrew" 2012 (Acrylic paint, Oil pastels"</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/ISU7tELl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Luminous" 2012 (Acrylic paint, Oil pastels)</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/h1Ce5sWl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Pensive" 2012 (Acrylic paint, Oil pastels)</h3>
      </div>
    </div>  
    <div class="item">
      <img src="http://i.imgur.com/irOoCsXl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Water" 2011 (Oil paint)</h3>
      </div>
    </div>  
    <div class="item">
      <img src="http://i.imgur.com/gr7Aw2fl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Waiting" 2012 (Acrylic paint, Oil pastels)</h3>
      </div>
    </div>  
    <div class="item">
      <img src="http://i.imgur.com/yWEqocal.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Toasty" 2010 (Pencil)</h3>
      </div>
    </div>  
    <div class="item">
      <img src="http://i.imgur.com/1X8YvSFl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"A Memory" 2012 (Pastel pencil)</h3>
      </div>
    </div>  
    <div class="item">
      <img src="http://i.imgur.com/8CX0YXhl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"1979" 2011 (Watercolor, Pastel pencil)</h3>
      </div>
    </div>  
    <div class="item">
      <img src="http://i.imgur.com/bnQHFr0l.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Mod" 2011 (Charcoal pencil)</h3>
      </div>
    </div>  
    <div class="item">
      <img src="http://i.imgur.com/08urnvPl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"1972" 2011 (Watercolor, Pastel pencil)</h3>
      </div>
    </div>  
    <div class="item">
      <img src="http://i.imgur.com/wYv8AZKl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Mother and Child" 2012 (Charcoal)</h3>
      </div>
    </div>  
    <div class="item">
      <img src="http://i.imgur.com/9XmKYz0l.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Movement 3" 2014 (Charcoal)</h3>
      </div>
    </div>  
    <div class="item">
      <img src="http://i.imgur.com/azrYYY1l.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Fayetteville Recreation Logo" 2014 (Permanent Marker)</h3>
      </div>
    </div>  
    <div class="item">
      <img src="http://i.imgur.com/Y3eAfr4l.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Untitled" 2011 (Acrylic paint, Oil pastels)</h3>
      </div>
    </div>  
    <!--
    <div class="item">
      <img src="http://i.imgur.com/KtYj1erl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>Caption Text</h3>
      </div>
    </div>
    -->
    <div class="item">
      <img src="http://i.imgur.com/xfrXdeml.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Hope" 2012 (Acrylic paint, Charcoal)</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/kIiQVcUl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Patience" 2011 (Acrylic paint, Oil pastels)</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/dIM78P5l.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Through the Looking Glass" 2012 (Watercolor, Colored pencils)</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/1OqZlSrl.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>"Lou Ann" 2011 (Charcoal)</h3>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->

<br>

<div class= "container text-center">
  <p><i>Site by: John Peters 2016</i></p>
</div>

<br>
<!--
<div class="row">
	<div class="thumbnails">
		<ul class="thumbnails">
	    		<li><a href="http://imgur.com/kseXH8L"><img src="http://i.imgur.com/kseXH8L.jpg" title="source: imgur.com" /></a></li>
	    		<li><a href="http://imgur.com/ckK3wPS"><img src="http://i.imgur.com/ckK3wPS.jpg" title="source: imgur.com" /></a></li>
	    		<li><a href="http://imgur.com/K2aS6FD"><img src="http://i.imgur.com/K2aS6FD.jpg" title="source: imgur.com" /></a></li>
	    		<li><a href="http://imgur.com/TYakwgB"><img src="http://i.imgur.com/TYakwgB.jpg" title="source: imgur.com" /></a></li>
	    	</ul>
	</div>
</div>

-->
<script>
$(document).ready( function() {

    $('.item').hover( function() {
        $(this).find('.carousel-caption').fadeIn(300);
    }, function() {
        $(this).find('.carousel-caption').fadeOut(100);
    });
	
});</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>