@import "bootstrap-sprockets";
@import "bootstrap";


.navbar-header{
     font-family: 'Yesteryear', cursive;
     font-size: 35px;

}
h1{
    font-size: 69px;
}
div.c-wrapper{
    width: 100%; /* for example */
    height: 800px;
    margin: auto;
}
.carousel-caption{
    background-color: rgba(41,41,41,0.7);
    
}
.about-me{
    font-family: 'Yesteryear', cursive;
}
.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
max-width: 100%; /* use this, or not */
height: auto;
margin: auto;

}
 .title-text{
     font-family: 'Yesteryear', cursive;
 }

body {
background: #000000
}